* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: animated 10s infinite alternate-reverse;
  background-image: url("https://b-f2-zpc.zdn.vn/2408708963125616082/0042dca12896edc8b487.jpg");
  background-position: center;
  padding: 10px 15px 10px 15px;
  min-height: 50vh;
}

.profile {
  max-width: 500px;
  min-height: 100vh;
  width: 100%;
  -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.profile .header {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 40px;
}

.profile .header .img__profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.profile .header .title {
  color: #fff;
  font-size: 17px;
  padding: 2px;
  line-height: 25px;
  font-weight: 700;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
}

.profile .header .slogan {
  color: #fff;
  font-size: 15px;
  opacity: 0.8;
  font-weight: 500;
  font-family: sans-serif;
}

.profile .header .email {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 15px;
  opacity: 0.8;
  font-weight: 500;
  font-family: sans-serif;
  padding: 3px;
}

.profile .social__media {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -10px;
  padding: 10px;
}

.profile .social__media .social {
  width: 100%;
  padding: 10px;
}

.profile .social__media .social a {
  text-decoration: none;
}

.profile .social__media .social li {
  width: 100%;
  background: #fff;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border-radius: 24px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 12px;
  font-family: sans-serif;
}

.profile .social__media .social li i {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}

.profile .social__media .social li.facebook {
  background: #2d86ff;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.profile .social__media .social li.facebook i {
  font-size: 30px;
}

.profile .social__media .social li.instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.profile .social__media .social li.tiktok {
  background: #000;
}

.profile .social__media .social li.tiktok i {
  color: #fff;
  text-shadow: 2px 2px #ff3353fc, -2px -2px cyan;
  font-size: 30px;
}

.profile .social__media .social li.zalo {
  background: #285AEB;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.profile .social__media .social li.youtube {
  background: #f80101;
}

.profile .share__button {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.profile .share__button i {
  font-size: 20px;
}

.profile .url-text {
  position: absolute;
  top: 0%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 7px 12px;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: 'Roboto', sans-serif;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.profile .add-ani {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.music__feature {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.music__feature i {
  font-size: 20px;
}

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 10%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}

.modal .content__modal {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: c;
      -ms-flex-pack: c;
          justify-content: c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
}

.add__music {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.music__play {
  max-width: 500px;
  width: 100%;
}

.ani__dics {
  -webkit-animation: 20s animation infinite alternate;
          animation: 20s animation infinite alternate;
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */